{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "no-warning-comments": ["error", { "terms": ["eslint-disable", "eslint-disable-line", "eslint-disable-next-line"], "location": "anywhere" }]
  }
}
